.notepad{
    position: relative;
    height: 100%;
}
.np-textarea{
    border-bottom: 3px solid #efefef;
    border-right: 3px solid #efefef;
    border-left: 2px solid #202020 ;
    border-top: 2px solid  #202020;
    resize: none;
    height: 99%;
    width: 99%;
    outline: none;
    font-family: "Pixel Sans Serif Regular";
    font-size: 12px;
    overflow-y: scroll;
}